html, body, h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    margin: 0;
    padding: 100px 30px 30px 30px;
}

body, #welcomePage, .buttonSection
{
    background-color: #f2efef;
}

#logo
{
    position: fixed;
    top: 2%;
    left: 2%;
}

main {
    display: block;
    justify-content: space-around; /* Distributes space around items */
    align-items: center; /* Vertically aligns items */
}

#welcomePage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home_img {
    width: 40px;
    height: auto;
    position: fixed;
    top: 2%;
    right: 2%;
}

a:link {
    color: #41BBD9;
    text-decoration: none;
}

a:visited {
    color: #006E90;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.light-section {
    background-color: #FFFFFF;
}

.dark-section, .light-section {
    flex: 1 1 50%; /* Each section takes up 50% of the flex container */
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Includes padding in width calculation */
}

.banner {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    
    margin: 0px;
    padding: 40px 40px; /* top/bottom, left/right */
}

.banner .banner-buttons {
    text-decoration: none;
    padding-bottom: 0px;
}

.banner-buttons {
    padding: 5px 10px; /* Adjust padding if necessary */
    max-width: 100%; /* Ensure buttons do not overflow */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Keeps the content from spilling out */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */

    transition: transform 0.2s ease-in-out;
}

.banner-buttons:hover, .banner-buttons:focus {
    transform: scale(1.2);
}

.banner .right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 40px;  /* spacing between banner tags */
    padding: 0px;
    margin-right: 70px;
}

#logo
{
    display: flex;
    align-items: center;
}

#logoB {
    color: #000000;
}

#logoS {
    color: #006E90;
    margin-right: auto;
}

#explore {
    color: #41BBD9;
    background-color: #FFFFFF;
    border: 2px solid #41BBD9;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#play {
    color: #000000;
    background-color: #F18f01;
    border: 2px solid #F18f01;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#gameFrame {
    margin-top: 0px;
    border: none;
    width: 100%;
    height: 650px;
}

#gameSelect
{
    margin-top: 20px;
}

#learnMore {
    color: #000000;
}

#welcomeTitle {
    font-size: 32px;
}

#subtitle {
    color: #006E90;
}

#titleEmph {
    color: #99C24D;
}


/*
Color palette
https://coolors.co/006e90-f18f01-adcad6-99c24d-41bbd9
*/

@media only screen and (min-width: 320px) and (max-width: 480px) 
{    
    #welcomeTitle
    {
        font-size: 20px;
        margin-top: -50px;
    }

    #logo
    {
        font-size: 15px;
    }

    #home_img
    {
        width: 40px;
        height: auto;
        margin-left: 200px;
    }

    #subtitle
    {
        margin-right: 6px;
    }

    .intro 
    {
        margin-left: 0;
        text-align: left;
    }

    #welcomeTitle
    {
        text-align: center;
        margin-top: -40px;
    }

    #gameSelect
    {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 25px;
        text-align: center;
    }

    .dark-section, .light-section {
        flex: 1 1 50%;
        padding: 0px; 
    }

    .intro
    {
        margin-top: 50px;
    }
}